<app-breadcrumb
  text="Cursos"
  link="/courses">
</app-breadcrumb>

@if (data$ | async; as data) {
  @if (data.loading) {
    <app-loading-course></app-loading-course>
  } @else {
    <section
      class="scroll-smooth relative grid-cols-1 grid xl:grid-cols-[8fr_4fr] mt-4 gap-4">
      <section class="flex flex-col gap-4 items-start">
        @if (data.lesson === null) {
          <video
            class="rounded-xl w-full"
            controls>
            <source
              [src]="data.course?.introductionVideo"
              type="video/mp4" />
          </video>
        }

        <div class="flex flex-col gap-4 items-start w-full">
          @if (data.lesson?.type === lessonsTypes.Video) {
            <app-video
              class="w-full"
              [lesson]="data.lesson">
            </app-video>
          }

          @if (data.lesson?.type === lessonsTypes.Infografia) {
            <app-infografia
              class="w-full"
              [lesson]="data.lesson">
            </app-infografia>
          }
        </div>

        <div class="flex items-center gap-4 justify-start">
          <div
            class="bg-lesson-icon bg-1.2 bg-left bg-no-repeat pl-6 text-theme-black-50">
            <p>{{ data.course?.lessons?.length ?? 0 }} lecciones</p>
          </div>
          <div
            class="bg-clock-icon bg-1.2 bg-left bg-no-repeat pl-6 text-theme-black-50">
            <p>{{ data.course?.duration ?? '00:00' }} min</p>
          </div>
          <div class="text-theme-black-50"><p>Dificultad baja</p></div>
        </div>

        <section class="flex justify-start items-start">
          <div class="grow">
            <p [innerHTML]="data.course?.description"></p>
          </div>
          <app-rounded-progress
            [width]="200"
            [percentage]="getPercentage(data.course?.lessons ?? [])"
            [strokeWidth]="14"
            [fontSize]="'text-3xl'"
            strokeColor="stroke-theme-grey-dark">
          </app-rounded-progress>
        </section>

        <div class="w-full grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-4">
          <section class="flex flex-col gap-4 w-full">
            <h3 class="font-bold text-lg">Conocimientos previos necesarios</h3>
            @for (course of data.requirementsCourses; track course.id) {
              <app-course-state-card [course]="course"> </app-course-state-card>
            } @empty {
              <p>No hay cursos necesarios.</p>
            }
          </section>

          <section class="flex flex-col gap-4 w-full">
            <h3 class="font-bold text-lg">
              Para ver este curso vas a necesitar
            </h3>
            <div
              class="bg-white rounded-xl border-theme-grey-dark border-[1px] p-4 flex flex-row justify-between md:flex-wrap gap-2">
              <div
                class="w-full text-center flex flex-row gap-2 items-center justify-center">
                <div
                  class="w-7 h-7 rounded-full p-[6px] bg-gray-600 flex justify-center items-center">
                  <img
                    class="w-full"
                    src="https://superlikers-themes.s3.amazonaws.com/ppmu/hours.svg"
                    alt="" />
                </div>
                <p>{{ data.course?.contentHours }} horas de contenido</p>
              </div>
              <div
                class="w-full text-center flex flex-row gap-2 items-center justify-center">
                <div
                  class="w-7 h-7 rounded-full p-[6px] bg-gray-600 flex justify-center items-center">
                  <img
                    class="w-full"
                    src="https://superlikers-themes.s3.amazonaws.com/ppmu/practice_hours.svg"
                    alt="" />
                </div>
                <p>{{ data.course?.practiceHours }} horas de práctica</p>
              </div>
            </div>
          </section>
        </div>
      </section>

      <section>
        <div class="bg-white rounded-xl p-4">
          <div class="flex flex-row gap-4 mb-4">
            <button
              class="button-grey pl-4 pr-4 flex-grow"
              (click)="changeContent('lessons')">
              Lecciones
            </button>

            @if (
              data.lesson &&
              data.lesson.resources &&
              data.lesson.resources.length > 0
            ) {
              <button
                class="button-grey pl-4 pr-4 flex-grow"
                (click)="changeContent('resources')">
                Recursos
              </button>
            }
          </div>
          <div class="overflow-x-hidden overflow-y-auto pr-1 pb-1">
            @if (content === 'lessons') {
              <section class="flex flex-col gap-2 p-2 bg-theme-grey rounded-lg">
                @for (lesson of data.lessons; track lesson.id) {
                  <app-lesson-state-card
                    [lesson]="lesson"
                    (click)="setActiveLesson(lesson)"
                    [showStatusBadge]="false"
                    [active]="(isActive(lesson) | async) ?? false">
                  </app-lesson-state-card>
                }
              </section>
            }

            @if (content === 'resources') {
              <div class="flex flex-col gap-4">
                @for (resource of data.lesson?.resources; track resource) {
                  <app-resource-card [resource]="resource"></app-resource-card>
                }
              </div>
            }
          </div>
        </div>
      </section>
    </section>
  }
}
