<div
  class="bg-theme-grey rounded-xl p-4 block cursor-pointer"
  [routerLink]="lesson.lessonUrl">
  <div class="flex flex-col gap-2">
    <img
      class="w-full rounded-xl"
      [src]="lesson.image"
      [alt]="lesson.name" />
    <h2 class="grow text-lg font-bold leading-5">
      {{ lesson.name }}
    </h2>
    @if (showDuration()) {
      <p
        class="bg-clock-icon bg-1.2 bg-left bg-no-repeat pl-6 text-theme-black-50">
        {{ duration }}
      </p>
    }
    <p><span class="font-bold">Curso: </span>{{ lesson.courseName }}</p>
    <div class="flex flex-row gap-2 self-end">
      <app-favorite-button [lesson]="lesson"></app-favorite-button>

      <app-download-button
        [name]="lesson.name"
        [file]="
          lesson.VideoContent?.video ||
          lesson.InfografiaContent?.infografia ||
          ''
        ">
      </app-download-button>
    </div>
  </div>
</div>
