<app-breadcrumb
  text="Certificados"
  link="/home">
</app-breadcrumb>

<section
  class="mt-10 bg-theme-orange rounded-lg p-4 md:p-10 flex flex-col md:flex-row gap-2 md:gap-6 items-center relative">
  <img
    class="w-1/3 min-w-[300px] max-w-md relative -top-16"
    src="https://superlikers-themes.s3.amazonaws.com/ppmu/certificado-master.svg"
    alt="" />
  <div class="w-2/3 flex flex-col gap-4">
    <h2 class="font-bold text-xl">Certificado master</h2>
    <p class="max-w-3xl">
      Recuerda que para obtener este certificado, debes conseguir todos los
      certificados anteriores y así serás un verdadero MASTER.
    </p>
  </div>
</section>

<section class="mt-10">
  <h2 class="font-bold text-lg">Certificados Obtenidos</h2>
  <swiper-container
    #completeCoursesSlide
    init="false">
    @if (data$ | async; as data) {
      @if (data.loading) {
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
      } @else {
        @for (course of data.completeCourses; track course.id) {
          <swiper-slide class="p-1">
            <app-certificate-card [course]="course"></app-certificate-card>
          </swiper-slide>
        } @empty {
          <p>No hay cursos terminados.</p>
        }
      }
    }
  </swiper-container>
</section>

<section class="mt-10">
  <h2 class="font-bold text-lg">Certificados en progreso</h2>
  <swiper-container
    #inProgressCoursesSlide
    init="false">
    @if (data$ | async; as data) {
      @if (data.loading) {
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
        <swiper-slide>
          <app-loading-certificate-card></app-loading-certificate-card>
        </swiper-slide>
      } @else {
        @for (course of data.inProgressCourses; track course.id) {
          <swiper-slide class="p-1">
            <app-certificate-card [course]="course"></app-certificate-card>
          </swiper-slide>
        } @empty {
          <p>Has terminado todos los cursos.</p>
        }
      }
    }
  </swiper-container>
</section>
