<app-breadcrumb
  text="Certificados"
  link="/home">
</app-breadcrumb>

<div
  class="flex flex-col gap-4 md:flex-row md:flex-wrap md:justify-between md:items-start">
  <section
    class="w-full mt-10 text-white bg-theme-orange rounded-lg flex flex-row gap-4 items-center">
    <img
      class="relative max-w-[40%] object-cover min-w-[180px] -top-4 md:hidden"
      src="https://superlikers-themes.s3.amazonaws.com/ppmu/certificate_master.png"
      alt="" />
    <img
      class="relative object-cover min-w-[140px] -top-4 hidden md:block md:max-w-[400px]"
      src="https://superlikers-themes.s3.amazonaws.com/ppmu/certificate_master_web.png"
      alt="" />
    <div class="flex flex-col gap-2 text-center p-4 max-w-96 mx-auto">
      <h2 class="font-bold text-xl md:text-2xl">Gana tu certificado master</h2>
      <p class="max-w-3xl md:text-lg">
        Conviértete en el verdadero <span>Maestro PPM</span> completando toda la
        malla curicular actual
      </p>
    </div>
  </section>
  @if (data$ | async; as data) {
    @if (data.loading) {
      <app-loading-certificate class="w-full"></app-loading-certificate>
    } @else {
      <section
        class="bg-theme-green rounded-xl p-4 pt-8 flex flex-col gap-0 md:w-4/12 lg:w-3/12 lg:pt-24">
        <h3 class="lg:text-lg lg:mb-2">Progreso</h3>

        <div
          class="relative bg-white rounded-lg flex flex-row gap-4 items-center text-center justify-start p-4 md:flex-col md:justify-center md:items-center lg:py-12 lg:gap-0">
          <p class="text-4xl lg:text-5xl">
            {{ data.completeCourses.length }} /
            {{ data.completeCourses.length + data.totalCourses.length }}
          </p>
          <p class="text-2xl">Cursos terminados</p>
          <img
            class="absolute w-24 -top-8 right-0 lg:w-36 lg:-top-24 lg:right-8"
            src="https://superlikers-themes.s3.amazonaws.com/ppmu/certificate_image2.png"
            alt="" />
        </div>
      </section>

      <section class="md:w-[64%] lg:w-[73%]">
        <section class="bg-theme-grey-dark flex flex-col gap-4 p-4 rounded-xl">
          <h3 class="text-lg font-bold">Cursos en progreso</h3>
          <app-courses-slider
            [courses]="data.totalCourses"
            [sliderOptions]="coursesSwiperOptions">
          </app-courses-slider>
        </section>
      </section>

      <section class="flex flex-col gap-4">
        <h3 class="text-xl font-bold">Certificados obtenidos</h3>
        <div class="grid grid-cols-2">
          @for (course of data.completeCourses; track course.id) {
            <app-certificate-card [course]="course"></app-certificate-card>
          } @empty {
            <p>No hay cursos terminados.</p>
          }
        </div>
      </section>
    }
  }
</div>
