<div
  cdkDropList
  [cdkDropListData]="dropzoneItems"
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListEnterPredicate]="dropListEnterPredicate"
  [id]="question"
  [class]="customClasses"
  class="group bg-white border-dashed text-center border-[1px] rounded-lg p-4 grow text-sm">
  @for (item of dropzoneItems; track item) {
    <div
      cdkDrag
      class="cursor-move max-w-fit mx-auto relative option peer bg-white rounded-xl px-4 py-2 grow text-center">
      {{ item.value }}
    </div>
  }
  <p
    class="text-theme-black-50 peer-[.option]:hidden group-[.cdk-drop-list-dragging]:hidden">
    Arrastra aquí la actividad correcta
  </p>
</div>
