<article
  class="max-w-md overflow-hidden rounded-2xl border-[1px] border-theme-orange">
  <header class="rounded-b-2xl bg-theme-orange">
    <h3 class="py-1 text-center text-lg font-bold text-white">
      Disponibilidad
    </h3>
  </header>
  <div
    class="m-2 flex flex-row items-center gap-2 rounded-xl bg-theme-white p-2 text-center text-sm md:text-base">
    <p>
      Disponibilidad de
      <span class="font-bold">3 horas semanales durante 3 semanas</span> para
      completar los cursos disponibles.
    </p>
    <img
      src="https://superlikers-themes.s3.amazonaws.com/ppmu/landing/box3.png"
      alt="Disponibilidad" />
  </div>
</article>
