<swiper-container
  #slider
  class="relative h-full w-full px-4 py-2"
  init="false">
  @if (data$ | async; as data) {
    @if (data.loading) {
      <swiper-slide>
        <app-loading-card></app-loading-card>
      </swiper-slide>
      <swiper-slide>
        <app-loading-card></app-loading-card>
      </swiper-slide>
      <swiper-slide>
        <app-loading-card></app-loading-card>
      </swiper-slide>
    } @else {
      @for (level of data.levels; track level.id) {
        <swiper-slide>
          <app-level-card [level]="level"></app-level-card>
        </swiper-slide>
      }
    }
  }
</swiper-container>
