<div class="relative flex w-full flex-col gap-2">
  <h1 class="font-bold text-xl">¡Empieza a aprender con PPM U!</h1>

  <app-slider></app-slider>

  <div class="my-4 flex w-full items-center justify-between gap-2">
    <h3>
      <span class="font-bold">Cursos Disponibles</span>
      Selecciona el curso que quieres ver y mira cada lección
    </h3>
    <a
      class="cursor-pointer whitespace-nowrap text-theme-blue transition-colors duration-200 hover:text-theme-blue/75 hover:underline">
      Ver más
    </a>
  </div>

  <app-course-accordion></app-course-accordion>
</div>
