<div class="relative flex w-full flex-col gap-4">
  <app-news-ppm></app-news-ppm>

  <h1 class="font-bold text-2xl mb-2">
    ¡Comienza a impulsar tu perfil profesional en PPM University!
  </h1>

  @if (data$ | async; as data) {
    @if (data.loading) {
      <p>Loading...</p>
    } @else {
      <section class="flex flex-col gap-2">
        <p>Escoge el área de la que te interesa aprender</p>
        <app-pilar-slider
          [pilars]="data.pilars"
          [activePilar]="data.activePilar">
        </app-pilar-slider>
      </section>

      <section class="flex flex-col gap-2">
        <p>Selecciona un nivel de dificultad</p>
        <app-level-selection></app-level-selection>
      </section>

      <section class="flex flex-col gap-2 mt-4">
        <h3 class="font-bold text-xl">Cursos Disponibles</h3>
        <p>Selecciona el curso que quieres ver y mira cada lección</p>

        <app-courses-accordion [courses]="data.courses"></app-courses-accordion>
      </section>
    }
  }
</div>
