<article class="relative bg-white p-4 rounded-xl flex flex-row gap-4">
  <img
    class="w-24 self-start"
    src="https://superlikers-themes.s3.amazonaws.com/ppmu/certificate.svg"
    [alt]="course.name" />
  <div class="flex flex-col">
    <div class="min-w-max">
      <p>Certificado</p>
      <p class="font-bold text-xl">{{ course.name }}</p>
      <p
        class="absolute top-4 right-4 rounded-2xl bg-theme-grey py-1 px-3 text-sm">
        Calificación <span>10/10</span>
      </p>
    </div>
    <p class="my-2">
      Aprendiste todos los datos básicos que necesitas tener claro para tu
      primer encuentro con nuestro costo Variable Industrial, desde un enfoce
      sencillo y paso a paso.
    </p>
    <button
      (click)="download($event)"
      class="button w-full rounded-3xl lg:w-auto">
      Descarga tu certificado aquí
    </button>
  </div>
</article>
