<swiper-container
  #slider
  class="relative h-full w-full bg-white p-4 rounded-xl"
  init="false">
  @for (pilar of pilars; track pilar) {
    <swiper-slide>
      <article
        (click)="selectPilar(pilar)"
        [class]="{ '!bg-theme-black-90': activePilar === pilar }"
        class="cursor-pointer transition-colors duration-500 hover:bg-theme-black-60 rounded-lg bg-theme-black-50 grid place-items-center h-[80px] px-4 text-white font-semibold text-lg">
        <p class="text-center">{{ pilar }}</p>
      </article>
    </swiper-slide>
  }
</swiper-container>
