<vg-player
  class="rounded-xl"
  (onPlayerReady)="onPlayerReady($event)">
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering vgFor="singleVideo"></vg-buffering>
  <vg-scrub-bar>
    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
  </vg-scrub-bar>
  <vg-controls>
    <vg-play-pause></vg-play-pause>
    <vg-time-display
      vgProperty="current"
      vgFormat="mm:ss"></vg-time-display>
    <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
    <vg-time-display
      vgProperty="total"
      vgFormat="mm:ss"></vg-time-display>
    <vg-track-selector></vg-track-selector>
    <vg-mute></vg-mute>
    <vg-volume></vg-volume>
    <vg-fullscreen></vg-fullscreen>
  </vg-controls>
  <video
    class="w-full"
    [vgMedia]="$any(media)"
    #media
    id="singleVideo"></video>
</vg-player>
