<div
  class="flex flex-col gap-4"
  [formGroup]="form">
  <label
    [for]="question.name"
    [innerHTML]="question.label">
  </label>

  @for (option of question.options; track option; let i = $index) {
    <div class="flex gap-2">
      <input
        [name]="question.name"
        [value]="option.text"
        [type]="question.type"
        [id]="question.name + i"
        [formArrayName]="question.name"
        (change)="onCheckboxChange($event)" />
      <label [for]="question.name + i">
        {{ option.text }}
      </label>
    </div>
  }
</div>
