:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  outline: none;
  box-shadow: none;
  width: 90vw;
}

@media (min-width: 768px) {
  :host {
    max-width: 80%;
    margin: 0 auto;
  } 
}