<article>
  <a
    class="w-full flex flex-row flex-wrap rounded-xl p-2 items-start gap-2 cursor-pointer transition-colors duration-200"
    [class]="{
      'bg-theme-green/40': active,
      'text-white': active,
      'hover:bg-theme-grey-dark': !active
    }"
    [routerLink]="lesson.lessonUrl">
    <img
      class="w-6"
      src="/assets/icons/i-play.svg"
      alt="play lesson" />

    <div class="grow flex flex-col">
      <h2
        [appTooltip]="lessonNameTooltip"
        class="font-bold text-lg max-w-[20ch]"
        style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
        {{ lesson.name }}
      </h2>

      <app-status-badge
        [status]="status"
        [showBackground]="false">
      </app-status-badge>
    </div>

    @if (showStatusBadge) {
      <app-status-badge
        class="hidden md:block"
        [classList]="{
          hidden: !showStatusBadge
        }"
        [status]="status">
      </app-status-badge>
    }

    <div class="flex flex-row gap-2 text-black">
      <app-favorite-button
        [lesson]="lesson"
        (click)="preventRouteChange($event)">
      </app-favorite-button>

      <app-download-button
        [name]="lesson.name"
        [file]="
          lesson.VideoContent?.video ||
          lesson.InfografiaContent?.infografia ||
          ''
        "
        (click)="preventRouteChange($event)">
      </app-download-button>
    </div>
  </a>
</article>

<ng-template #lessonNameTooltip>
  <p
    class="absolute min-w-max -left-28 -top-[4.5rem] bg-theme-black px-2 py-1 rounded text-white">
    {{ lesson.name }}
  </p>
</ng-template>
