<div class="bg-white rounded-xl p-6 md:py-16 md:px-28">
  <form [formGroup]="form">
    <swiper-container
      #slider
      (slideChange)="onSwiperChange()"
      init="false">
      @if (data$ | async; as data) {
        @if (data.loading) {
          <swiper-slide>
            <app-loading-test></app-loading-test>
          </swiper-slide>
        } @else {
          <swiper-slide>
            <div class="flex flex-col items-start gap-10 md:flex-row md:gap-4">
              <img
                class="mx-auto w-1/2 max-w-xs md:w-1/3"
                [src]="data.lesson.TestContent?.image"
                [alt]="data.lesson.TestContent?.title" />
              <div class="flex flex-col gap-8">
                <h1 class="text-xl font-bold">
                  {{ data.lesson.TestContent?.title }}
                </h1>
                <p>{{ data.lesson.TestContent?.description }}</p>
                <p class="rounded-xl bg-theme-blue/70 p-3">
                  {{ data.lesson.TestContent?.initialMessage }}
                </p>
                <app-submit-button
                  class="self-start"
                  (click)="nextSlide()">
                  Comienza ahora
                </app-submit-button>
              </div>
            </div>
          </swiper-slide>
          @for (
            question of data.lesson.TestContent?.questions;
            track question;
            let i = $index
          ) {
            <swiper-slide>
              @if (question.type === 'radio') {
                <app-radio [question]="question"></app-radio>
              } @else if (question.type === 'checkbox') {
                <app-checkbox-group [question]="question"></app-checkbox-group>
              }

              <div class="flex items-center justify-between mt-6">
                <app-submit-button
                  customClass="button-grey"
                  (click)="previousSlide()">
                  Anterior
                </app-submit-button>

                @if (showSubmitButton(data.lesson, i)) {
                  <app-submit-button
                    [isLoading]="submitLoading"
                    type="submit"
                    (click)="onSubmit(data.lesson)">
                    Enviar
                  </app-submit-button>
                } @else {
                  <app-submit-button (click)="nextSlide()">
                    Siguiente
                  </app-submit-button>
                }
              </div>
            </swiper-slide>
          }
        }
      }
    </swiper-container>

    <div class="mt-6 flex w-full flex-col gap-2">
      <app-progress-bar
        [percentage]="percentage"
        height="h-5">
      </app-progress-bar>

      <div class="flex flex-row justify-between text-sm text-theme-black-50">
        <p>Avance actual</p>
        <p>{{ actualSlide }} / {{ totalSlides }}</p>
      </div>
    </div>
  </form>
</div>
