<div class="bg-white rounded-xl p-6 md:py-16 md:px-28">
  <form [formGroup]="form">
    <swiper-container
      class="transition-all"
      #formSlide
      (slideChange)="onSwiperChange()"
      init="false">
      @if (lesson$ | async; as lesson) {
        <swiper-slide>
          <div class="flex flex-col items-start gap-10 md:flex-row md:gap-4">
            <img
              class="mx-auto w-1/2 max-w-xs md:w-1/3"
              [src]="lesson.TestContent?.image"
              [alt]="lesson.TestContent?.title" />
            <div class="flex flex-col gap-8">
              <h1 class="text-xl font-bold">{{ lesson.TestContent?.title }}</h1>
              <p>{{ lesson.TestContent?.description }}</p>
              <p class="rounded-xl bg-theme-blue/70 p-3">
                {{ lesson.TestContent?.initialMessage }}
              </p>
              <app-submit-button
                class="self-start"
                (click)="nextSlide()">
                Comienza ahora
              </app-submit-button>
            </div>
          </div>
        </swiper-slide>
        @for (
          question of questions;
          track question;
          let questionIndex = $index
        ) {
          <swiper-slide>
            <div class="flex flex-col gap-4 pr-4">
              <div [innerHTML]="question.label"></div>
              <div class="flex flex-col gap-4">
                @for (
                  option of question.options;
                  track option;
                  let optionIndex = $index
                ) {
                  <div class="flex gap-2">
                    @if (question.type === 'radio') {
                      <input
                        [type]="question.type"
                        [name]="question.name"
                        [value]="option.text"
                        [id]="question.name + optionIndex"
                        (change)="
                          form.controls[question.name].setValue(option.text)
                        "
                        [formControlName]="question.name" />
                      <label [for]="question.name + optionIndex">
                        {{ option.text }}
                      </label>
                    }

                    @if (question.type === 'checkbox') {
                      <input
                        [name]="question.name"
                        [value]="option.text"
                        [type]="question.type"
                        [id]="question.name + optionIndex"
                        [formArrayName]="question.name"
                        (change)="onCheckboxChange($event)" />
                      <label [for]="question.name + optionIndex">
                        {{ option.text }}
                      </label>
                    }
                  </div>
                }
              </div>
              <div class="flex items-center justify-between">
                <app-submit-button
                  customClass="button-grey"
                  (click)="previousSlide()">
                  Anterior
                </app-submit-button>

                @if (questions.length - 1 !== questionIndex) {
                  <app-submit-button (click)="nextSlide()">
                    Siguiente
                  </app-submit-button>
                }

                @if (questions.length - 1 === questionIndex) {
                  <app-submit-button
                    [isLoading]="loading"
                    type="submit"
                    (click)="onSubmit(lesson)">
                    Enviar
                  </app-submit-button>
                }
              </div>
            </div>
          </swiper-slide>
        }
      }
    </swiper-container>

    <div class="mt-6 flex w-full flex-col gap-2">
      <app-progress-bar
        [percentage]="percentage"
        height="h-5">
      </app-progress-bar>

      <div class="flex flex-row justify-between text-sm text-theme-black-50">
        <p>Avance actual</p>
        <p>{{ actualSlide }} / {{ totalSlides }}</p>
      </div>
    </div>
  </form>
</div>
