@if (avatar$ | async; as avatar) {
  <div class="relative">
    <img
      class="object-cover rounded-full"
      [ngClass]="size"
      [src]="avatar"
      alt="avatar" />

    @if (showEditButton) {
      <div
        (click)="openDialog()"
        class="group/avatar absolute bottom-2 right-0 flex h-8 w-8 cursor-pointer rounded-full bg-theme-grey-dark transition-all duration-500 hover:bg-theme-black-90">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 33.421 33.421">
          <g transform="translate(-1279.5 -111.5)">
            <g
              transform="translate(1287.686 120.208)"
              opacity="0.5">
              <path
                class="fill-theme-black group-hover/avatar:fill-theme-white"
                d="M1.214,15.786H15.835V16.83H1.214Z"
                transform="translate(0 -2.039)" />
              <path
                class="fill-theme-black group-hover/avatar:fill-theme-white"
                d="M13.6,4.87a1.01,1.01,0,0,0,0-1.462l-1.88-1.88a1.01,1.01,0,0,0-1.462,0L2.429,9.36V12.7H5.771ZM10.992,2.259l1.88,1.88L11.306,5.705l-1.88-1.88Zm-7.519,9.4V9.778L8.695,4.556l1.88,1.88L5.353,11.658Z"
                transform="translate(-0.17)" />
            </g>
          </g>
        </svg>
      </div>
    }
  </div>
}
